:root {
  --white-color: #F5F5F5;
  --black-color: #101010;

  --light-gray-color: #E2E4E8;
  --gray-color: #9CA3AF;
  --dark-gray-color: #454B55;

  --yellow-color: #FFF1BF;
  --orange-color: #FFA500;
  --red-color: #FF3333;
  --pink-color: #FFA6C9;
  --purple-color: #9999FF;
  --blue-color: #6DC1E8;
  --green-color: #96E26C;

  --primary-color: var(--blue-color);
  --secondary-color: var(--pink-color);

  /* primary font color applied to all font from root container */
  --font-color: var(--black-color);
  /* secondary font color selected apply for container that has --bg-color-2 */
  --font-color-2: var(--dark-gray-color);

  --bg-color: var(--white-color);
  --bg-color-2: var(--light-gray-color);

  --border-color: var(--gray-color);

  --line-color: var(--dark-gray-color);

  --font-sans-serif:
    system-ui,
    -apple-system,
    /* Firefox supports this but not yet `system-ui` */
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';

  --font-serif: serif;
  --font-mono: 'JetBrains Mono', monospace;
}

[theme="dark"] {
  --white-color: #383A59;
  --black-color: #FFFFFF;

  --light-gray-color: #454B55;
  --gray-color: #9CA3AF;
  --dark-gray-color: #F7FAFF;

  --yellow-color: #FFF1BF;
  --orange-color: #FFA500;
  --red-color: #FF3333;
  --pink-color: #FFA6C9;
  --purple-color: #9999FF;
  --blue-color: #6DC1E8;
  --green-color: #96E26C;
}

[lang="th"] {
  --font-sans-serif:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif;

  --font-serif: serif;
  --font-mono: 'JetBrains Mono', monospace;
}