$xs: 0.15rem;
$sm: 0.4rem;
$md: 0.75rem;
$lg: 1.25rem;
$xl: 1.75rem;
$xxl: 2rem;
$xxxl: 2.5rem;

$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-lg: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

$font-sm: 0.8rem;
$font-base: 1rem;
$font-lg: 1.2rem;

$border-sm: 1px;
$border-md: 1.5px;
$border-lg: 2px;
